<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Birthday wishes meaningful again.</title>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js" /></script>

    <meta name="description" content="">
            <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

        <!-- Load main style sheet -->
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css">

        <!-- Default stylesheets for the slider -->
            <link rel="stylesheet" href="{{ STATIC_URL }}nivo-slider/themes/default/default.css" type="text/css" media="screen" />

        <!-- Load Javascript and Jquery -->
            <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.nivo.slider.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.prettyPhoto.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.validate.js"></script>
    <script src="{{ STATIC_URL }}js/filter-gallery.js"></script>
    <script src="{{ STATIC_URL }}js/smooth-scroll.js"></script>



    <!-- Jquery Form Validation -->
    <script type="text/javascript">
        $(document).ready(function() {
            $("#commentForm").validate();
        });
    </script>

    {% block extrahead %}{% endblock %}
</head>

<body>
<div id="top"></div>
<div id="container">




    <div style="margin-top: 100px;" class="content">
        <IMG SRC="/static/img/logo.png">

        <BR><BR><BR>

        <P>OK! Give Fredo your phone number:</P>
        <BR><BR><BR>
        <INPUT style="background-color: black; opacity:0.4; filter:alpha(opacity=40);" type="text"></INPUT>
<BR><BR><BR>
        <IMG SRC="/static/img/next.png">


    </div>


</div>


</body>
</html>
