<!doctype html>
<html>
<head>
    <title>Happy birthday {{ name }}!</title>
    <meta charset="utf-8" />
    <meta content="website" property="og:type" />
    <meta content="http://callfredo.com/wishes/{{ id }}/" property="og:url" />
    <meta content="Happy birthday {{ name }}!" property="og:title" />
    <meta content="http://callfredo.com/static/img/callfredo_av.jpg" property="og:image" />
    <meta content="Click here to hear birthday wishes from {{ caller.first_name }}!" property="og:description" />
    <meta content="Callfredo.com" property="og:site_name" />
    <meta content="20" property="og:video:height" />
    <meta content="390" property="og:video:width" />
    <meta content="application/x-shockwave-flash" property="og:video:type" />
    <meta content="http://callfredo.com/static/player_mp3.swf?mp3={{ url }}.mp3&width=390&autoplay=1&show_info=0&textcolor=666666&buttoncolor=666666&buttonovercolor=000000&bgcolor1=f5f5f5&bgcolor2=cccccc&sliderovercolor=333333" property="og:video" />
    <meta content="https://callfredo.com/static/player_mp3.swf?mp3={{ url }}.mp3&width=390&autoplay=1&show_info=0&textcolor=666666&buttoncolor=666666&buttonovercolor=000000&bgcolor1=f5f5f5&bgcolor2=cccccc&sliderovercolor=333333" property="og:video:secure_url" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css">
</head>
<body>
<div id="top"></div>
<div id="container">
    <div style="margin-top: 100px;" class="content">
        <h1>{{ caller.first_name }} is wishing you happy birthday!</h1>

        <object type="application/x-shockwave-flash" data="/static//player_mp3.swf" width="400" height="20">
            <param name="movie" value="/static/player_mp3.swf" />
            <param name="FlashVars" value="mp3={{ url }}.mp3&autoplay=1&show_info=0&textcolor=666666&buttoncolor=666666&buttonovercolor=000000&bgcolor1=f5f5f5&bgcolor2=cccccc&sliderovercolor=333333" />
        </object>

        <p style="opacity:0.4; font-size:16px; margin-top:120px;">Wanna wish all best to your friend? Start using <a href="http://callfredo.com/">Callfredo</a>!</p>

    </div>
</div>
</body>
</html>

