<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">
<head>
    <meta charset="utf-8" />
    <meta content="website" property="og:type" />
    <meta content="http://421.pl/100s/t2.html" property="og:url" />
    <meta content="Happy birthday!" property="og:title" />
    <meta content="http://a1.sndcdn.com/images/fb_placeholder.png?04ad178" property="og:image" />
    <meta content="Click here to hear birthday wishes from your friend!" property="og:description" />
    <meta content="100seconds" property="og:site_name" />
    <meta content="50" property="og:video:height" />
    <meta content="150" property="og:video:width" />
    <meta content="application/x-shockwave-flash" property="og:video:type" />
    <meta content="http://www.simoncross.com/fb/player.swf?url=http://api.twilio.com/2010-04-01/Accounts/ACd9069181b7ebff5c6fe8d62d6ee8b15e/Recordings/REb516cd04f73522f9f397739d85665200.mp3&autostart=true" property="og:video" />
    <meta content="https://www.simoncross.com/fb/player.swf?url=http://api.twilio.com/2010-04-01/Accounts/ACd9069181b7ebff5c6fe8d62d6ee8b15e/Recordings/REb516cd04f73522f9f397739d85665200.mp3&autostart=true" property="og:video:secure_url" />
</head>
<body>

</body>
</html>

