<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">
<head>
    <meta charset="utf-8" />
    <meta content="website" property="og:type" />
    <meta content="http://421.pl/100s/t2.html" property="og:url" />
    <meta content="Happy birthday!" property="og:title" />
    <meta content="http://desolate-escarpment-8965.herokuapp.com/static/img/graficzka.png" property="og:image" />
    <meta content="Click here to hear birthday wishes from your friend!" property="og:description" />
    <meta content="100seconds" property="og:site_name" />
    <meta content="50" property="og:video:height" />
    <meta content="150" property="og:video:width" />
    <meta content="application/x-shockwave-flash" property="og:video:type" />
    <meta content="http://desolate-escarpment-8965.herokuapp.com/static/player.swf?url={{ url }}&autostart=true" property="og:video" />
    <meta content="http://desolate-escarpment-8965.herokuapp.com/static/player.swf?url={{ url }}&autostart=true" property="og:video:secure_url" />
</head>
<body>

</body>
</html>

